<h1> Listing Articles </h1>
<%= link_to "New Article", new_article_path(@article) %>
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <%= link_to('Edit user', edit_user_registration_path) %>
    <% else %>
      <%= link_to('Login', new_user_session_path)  %>
    <% end %>

<div>
    <% @articles.each do |article| %>
      <% creator = User.find(article.creator) %>
      <h3><%= link_to article.title, article_path(article) %></h3>
      <p><%= simple_format(article.body) %></p><br>
      <% if article != @articles.last %>
      <hr />
      <% end %>
    <% end %>
  </div>
